@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
  
  h4 {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  label {
    font-family: 'Permanent Marker', cursive;
  }

  .chore {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .form {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .clickies {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .chore-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background: url(yellow-ruled-personal_2.jpg) no-repeat;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
  }

  .btn {
    font-family: 'Permanent Marker', cursive;
  }

  .message-end {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }